
body {
background-color: #E1EFE6;
}

  #title {
    font-family: 'Fjalla One', sans-serif;
    font-size:90px;
    text-shadow: -2px 2px #FFF8F0;
    position: relative;
    left: -50px;
    top: -50px;
  }
  .right {
    position: absolute;
    left:610px;
    width: 300px;
    padding: 10px;
    top: 295px;

  }
  #box {
    background-color: #EFCB68;
    padding: 85px;
    border-radius: 10px;
    box-shadow: 3px 3px #000411;
    width: 800px
    }
  .button {
    padding: 4px;
    border-radius: 15px;
    text-shadow: 1px 4px #270722;

  }
  #messagearea {
    padding: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;

  }
  .gospel {
    border-color: #EFCB68;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: white;
    background-color: #EFCB68;
    border-radius: 10px;
  }
  .playlist {
    background-color: E1EFE6;
    color: black;
    border-color: black;
    position: relative;
    left: 1000px;
    bottom: 400px;
    margin: 2px;
    width: 255px;
    padding: 30px;
    box-shadow: 3px 3px black;
  }
