body {
  background-color: black
}

h1 {
  background-color: white;
  text-align: center;
  font-family: 'Limelight', cursive;
}

/* p {
  font-family: 'Sigmar One', cursive;
} */
.genres {
  padding: 80px;
  font-size: 24px;
  font-style: bold;
  margin: 70px;
  margin-left: 100px;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   box-shadow: 5px 10px #888888;
   border-radius: 12px;
   transition: all 0.5s;
  cursor: pointer;

}

.genres:hover {
    background-color: #4CAF50;
    color: white;
    padding-right: 25px;
}

.genres:hover span {
  padding-right: 25px;
}

.genres:hover span:after {
  opacity: : 1;
  right: 0;
}

#hiphop {
  font-family: 'Poor Story', cursive;
}
#hiphop:hover {
  background-color: brown;
  color: white;
}

#rnb {
  font-family: 'Berkshire Swash', cursive;
}
#rnb:hover {
  background-color: #8B4513;
  color: white;
}

#indie {
font-family: 'Special Elite', cursive;
}
#indie:hover {
  background-color: #9BB1FF;
  color: white;
}

#gospel {
  font-family: 'Leckerli One';
}
#gospel:hover {
  background-color: #ffd700;
  color: white;
}

#pop {
  font-family: 'Reenie Beanie', cursive;
}
#pop:hover {
  background-color: #FF69B4;
  color: white;
}

#jazz {
  font-family: 'Indie Flower', cursive;
}
#jazz:hover {
  background-color: #000080;
  color: white;
}
