body.jazz {
   background-color: #2A2B2E;
 }
 body.rnb {
   background-color: #51291E
 }
 body.gospel {
   background-color: #E1EFE6;
 }
 body.indie {
   background-color: #846A6A;
 }
 body.hiphop {
   background-color: #F6BD60;
 }
 body.pop {
   background-color: #F49390;
 }
 ul.gospelbar {
    background-color: #E1EFE6;

 }
 ul.indiebar {
    background-color: #846A6A;

 }
 ul.hiphopbar {
   background-color: #270722;
   border-radius: 15px;
 }
 ul.jazzbar {
   background-color: #2A2B2E;
 }

 ul.popbar {
   background-color: #F0E68C	;
 }

ul.rnbbar {
  background-color: black;
}
ul {
  list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
border-radius: 15px;
 }
 li {
    float: left;
 }
li a {
  display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin-left: 100px;

}

li.gospelbar a{
 color: #270722;
 font-family: 'Fjalla One', sans-serif;
 background-color: #E1EFE6;
}

li.indiebar a{
 color: black;
  font-family: 'Josefin Slab', serif;

}

li.hiphopbar a{
 color: #E9190F;
 font-family: 'Poor Story', cursive;
 background-color: #270722;
}
li.jazzbar a {
color: #CCC9DC;
font-family: 'Josefin Sans', sans-serif, italic;
}

li.popbar a{
  font-family: 'Reenie Beanie', cursive;
  color: black;
}
li.rnbbar a{
  font-family: 'Berkshire Swash', cursive;
}
.right {
position: absolute;
left:610px;
width: 300px;
padding: 10px;
top: 345px;

}
#gospelbox {
 background: linear-gradient( rgba(255,0,0,0), lightgray);
 /* box-shadow: 3px 3px #000411; */
}

#jazzbox {
background: linear-gradient( rgba(255,0,0,0), #4a4c51);
/* box-shadow: 3px 3px #CCC9DC; */
}
#indiebox {
background: linear-gradient( rgba(255,0,0,0), #9e8080);
  /* box-shadow: 3px 3px #CCDAD1; */
}
#rnbbox {
  background-color: #581908;
  box-shadow: 3px 3px #000411;
}

#hiphopbox {
  background-color: #E9190F;
  box-shadow: 3px 3px #000411;
}

#popbox {
  background-color: #E40066;
  box-shadow: 3px 3px #000411;
}

.box {
padding: 85px;
border-radius: 10px;
width: 800px
}

.title {
font-size:90px;
position: relative;
left: -50px;
top: -50px;
}

#hiphoptitle {
  font-family: 'Poor Story', cursive;
  text-shadow: -2px 2px #D6DBB2;
}
#rnbtitle{
  font-family: 'Berkshire Swash', cursive;
  color: #E3D985;
  text-shadow: -2px 2px #D6DBB2;
}

#jazztitle {
font-family: 'Josefin Sans', sans-serif, italic;
color: #CCC9DC;
text-shadow: -2px 2px black;
}
#gospeltitle {
color: #270722;
font-family: 'Fjalla One', sans-serif;
text-shadow: -2px 2px #FFF8F0;
}
#indietitle {
  font-family: 'Fredericka the Great', cursive;
  color: #CCDAD1;
  text-shadow: -2px 2px #73877B;
}
#poptitle {
  color: #F0E68C;
  text-shadow: -2px 2px black;
  font-family: 'Reenie Beanie', cursive;
}
.button {
padding: 5px;
border-radius: 15px;
font-size: 30px;
background-repeat:no-repeat;
   border: none;
   cursor:pointer;
background-color: transparent;
   outline:none;
}
.gospelbutton {
 text-shadow: 1px 4px rgb(225, 239, 230);
 font-family: 'Pacifico', cursive;
 background-repeat:no-repeat;
    border: none;
    cursor:pointer;
background-color: transparent;
    outline:none;
 color: 270722;
}

.jazzbutton {
 text-shadow: 1px 4px #270722;
 color: #CCC9DC;
 font-family: 'Yellowtail', cursive;
}
.rnbbutton {
  text-shadow: 1px 4px #270722;
  font-family: 'Pacifico', cursive;
  border-color: #035E7B;
  background-color: #D6DBB2;
  color: white;
  font-family: 'Berkshire Swash', cursive;
}
.indiebutton {
  font-family: 'Josefin Slab', serif;

}
.hiphopbutton {
  font-family: 'Poor Story', cursive;
}
.gospelmessage {
font-family:'Pacifico', cursive;
color: #270722;
}

.popbutton {
  font-family: 'Reenie Beanie', cursive;
  color: #F0E68C;
  text-shadow: 1px 4px #270722;
  background-color: black;
}

#jazzmessage {
color: #CCC9DC;
font-family: 'Josefin Sans', sans-serif, italic;
}
#rnbmessage {
  color: #E3D985;
  font-family: 'Berkshire Swash', cursive;
}

#hiphopmessage {
  font-family: 'Poor Story', cursive;
  color: #291F1E;
}
#indiemessage {
  color: #CCDAD1;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 2px black;
}

.messagearea {
padding: 50px;
font-size: 30px;
}

/* #jazzlist {
box-shadow: 3px 3px #CCC9DC;
color: CCC9DC;
border-color: black;
text-shadow: 3px 3px #035E7B;
font-family: 'Yellowtail', cursive;
} */
#jazzlist {
  position: fixed;
  left: 960px;
  bottom: 355px;
  margin: 5px;
  width: 255px;
  padding: 30px;

}

#gospellist {
  position: fixed;
  left: 960px;
  bottom: 42px;
  margin: 5px;
  width: 255px;
  padding: 30px;
}

#indielist {
  position: fixed;
  left: 960px;
  bottom: 52px;
  margin: 5px;
  width: 255px;
  padding: 30px;
}

#rnblist {
  position: fixed;
  left: 960px;
  bottom: 602px;
  margin: 5px;
  width: 255px;
  padding: 30px;
}
/* #rnblist {
  box-shadow: 3px 3px #CCC9DC;
  color:#E3D985;
  border-color: black;
  text-shadow: 3px 3px #270722;
  font-family: 'Berkshire Swash', cursive;
} */
