body.jazz {
   background-color: #2A2B2E;
 }
 body.rnb {
   background-color: #51291E
 }
 body.gospel {
   background-color: #E1EFE6;
 }
 body.indie {
   background-color: #846A6A;
 }
 body.hiphop {
   background-color: #F6BD60;
 }

.right {
position: absolute;
left:610px;
width: 300px;
padding: 10px;
top: 265px;

}
#gospelbox {
 background-color: #EFCB68;
 box-shadow: 3px 3px #000411;
}

#jazzbox {
background-color: #035E7B;
box-shadow: 3px 3px #CCC9DC;
}
#indiebox {
  background-color: #839788;
  box-shadow: 3px 3px #CCDAD1;
}
#rnbbox {
  background-color: #581908;
  box-shadow: 3px 3px #000411;
}

#hiphopbox {
  background-color: #E9190F;
  box-shadow: 3px 3px #000411;
}

.box {
padding: 85px;
border-radius: 10px;
width: 800px
}

.title {
font-size:90px;
position: relative;
left: -50px;
top: -50px;
}

#rnbtitle{
  font-family: 'Berkshire Swash', cursive;
  color: #E3D985;
  text-shadow: -2px 2px #D6DBB2;
}

#jazztitle {
font-family: 'Josefin Sans', sans-serif, italic;
color: #CCC9DC;
text-shadow: -2px 2px black;
}
#gospeltitle {
font-family: 'Fjalla One', sans-serif;
text-shadow: -2px 2px #FFF8F0;
}
#indietitle {
  font-family: 'Fredericka the Great', cursive;
  color: #CCDAD1;
  text-shadow: -2px 2px #73877B;
}
#hiphoptitle {
  font-family: 'Poor Story', cursive;
  color: black;
  text-shadow: -2px 2px #FFEED6;
}

#poptitle {
  font-family: 'Reenie Beanie', cursive;
}
.button {
padding: 5px;
border-radius: 15px;
font-size: 30px;
}
.gospelbutton {
 text-shadow: 1px 4px #270722;
 font-family: 'Pacifico', cursive;
 border-color: #EFCB68;
 background-color: #EFCB68;
 color: white;
}

.jazzbutton {
 text-shadow: 1px 4px #270722;
 font-family: 'Pacifico', cursive;
 border-color: #035E7B;
 background-color: #035E7B;
 color: white;
 font-family: 'Yellowtail', cursive;
}
.rnbbutton {
  text-shadow: 1px 4px #270722;
  font-family: 'Pacifico', cursive;
  border-color: #035E7B;
  background-color: #D6DBB2;
  color: white;
  font-family: 'Berkshire Swash', cursive;
}
.indiebutton {
  font-family: 'Josefin Slab', serif;
  background-color: #839788;
  border-color: #839788;
  text-shadow: 1px 2px #CCDAD1;
}
.hiphopbutton {
  font-family: 'Poor Story', cursive;
  border-color: #035E7B;
  background-color: #291F1E;
  color: white;
  text-shadow: 1px 4px #270722;
}
#gospelmessage {
font-family:'Pacifico', cursive;
color:black;
}

#jazzmessage {
color: #CCC9DC;
font-family: 'Josefin Sans', sans-serif, italic;
}
#rnbmessage {
  color: #E3D985;
  font-family: 'Berkshire Swash', cursive;
}

#hiphopmessage {
  font-family: 'Poor Story', cursive;
  color: #291F1E;
}
#indiemessage {
  color: #CCDAD1;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 2px black;
}
.messagearea {
padding: 50px;
font-size: 30px;
}

/* #jazzlist {
box-shadow: 3px 3px #CCC9DC;
color: CCC9DC;
border-color: black;
text-shadow: 3px 3px #035E7B;
font-family: 'Yellowtail', cursive;
} */
#jazzlist {
  position: fixed;
  left: 960px;
  bottom: 400px;
  margin: 5px;
  width: 255px;
  padding: 30px;

}

#gospellist {
  position: fixed;
  left: 960px;
  bottom: 92px;
  margin: 5px;
  width: 255px;
  padding: 30px;
}

#indielist {
  position: fixed;
  left: 960px;
  bottom: 92px;
  margin: 5px;
  width: 255px;
  padding: 30px;
}

#rnblist {
  position: fixed;
  left: 960px;
  bottom: 602px;
  margin: 5px;
  width: 255px;
  padding: 30px;
}
/* #rnblist {
  box-shadow: 3px 3px #CCC9DC;
  color:#E3D985;
  border-color: black;
  text-shadow: 3px 3px #270722;
  font-family: 'Berkshire Swash', cursive;
} */
