<!DOCTYPE html>
<html>

    <head>
      <link rel="stylesheet" type="text/css" href="static/about.css">
      <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    </head>

<body>
  <div>
    <div id="tool">
    <ul class="gospelbar">
      <li class="gospelbar"><a href="/">HOME</a></li>
      <li class="gospelbar"><a href="/genre?genre=jazz">JAZZ</a></li>
      <li class="gospelbar"><a href="/genre?genre=indie">INDIE</a></li>
      <li class="gospelbar"><a href="/genre?genre=rnb">R&B</a></li>
      <li class="gospelbar"><a href="/genre?genre=gospel">GOSPEL</a></li>
      <li class="gospelbar"><a href="/genre?genre=pop">POP</a></li>
      <li class="gospelbar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
  </ul>

</div>

  <h1 id="title" class="rainbow">Learn some more about us!</h1>
    <div id="us" class="center">
      <div id="brandon">
        <h2 id="brandon">Brandon Ceasar <br>
          <a href="https://www.linkedin.com/in/brandon-ceasar-5568a4168/">LinkedIn</a>
        </h2>
        <img src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg" height="20px" width="20px"/>
        <p>THIS IS A LITTLE DESCRIPTION ABOUT BRANDON HA</p>
      </div>

      <div id="ndunge">
        <h2 id="ndunge">Ndunge Mulwa <br>
          <a href="https://www.linkedin.com/in/ndunge-mulwa-541721168/">LinkedIn</a>
        </h2>
        <img src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg"height="20px" width="20px"/>
        <p>THIS IS A LITTLE DESCRIPTION ABOUT NDUNGE HA</p>
      </div>

      <div id="essence">
        <h2 id="essence">Essence Jordan <br>
        <a href="https://www.linkedin.com/in/essence-jordan-96914a149/">LinkedIn</a>
        </h2>
        <img src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg"height="20px" width="20px"/>
        <p>THIS IS A LITTLE DESCRIPTION ABOUT ESSENCE HA</p>
      </div>
    </div>
</body>
</html>
