<!DOCTYPE html>
<html>

    <head>
      <link rel="stylesheet" type="text/css" href="static/about.css">
      <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    </head>

<body>
  <div>
    <div id="tool">
    <ul class="gospelbar">
      <li class="gospelbar"><a href="/">HOME</a></li>
      <li class="gospelbar"><a href="/genre?genre=jazz">JAZZ</a></li>
      <li class="gospelbar"><a href="/genre?genre=indie">INDIE</a></li>
      <li class="gospelbar"><a href="/genre?genre=rnb">R&B</a></li>
      <li class="gospelbar"><a href="/genre?genre=gospel">GOSPEL</a></li>
      <li class="gospelbar"><a href="/genre?genre=pop">POP</a></li>
      <li class="gospelbar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
  </ul>

</div>

  <h1 id="title" class="rainbow">Learn some more about us!</h1>
    <div id="us" class="center">
      <div id="brandon">
        <h2 id="brandon style="border-right-width: 2px, border-left-width"">Brandon Ceasar <br>
          <a href="https://www.linkedin.com/in/brandon-ceasar-5568a4168/">LinkedIn</a>
        </h2>
        <img src="../static/static/brandon.jpg" height="300px" width="300px"/>
        <p>This young man needs to get out of his feelings and just move on with his life. He will be attending Virginia Tech in the fall, wher he can meet someone new that deserves him better.</p>
        <p> Fun Fact: Brandon has a white mom</p>
      </div>

      <div id="ndunge">
        <h2 id="ndunge style="border-right-width: 2px, border-left-width"">Ndunge Mulwa <br>
          <a href="https://www.linkedin.com/in/ndunge-mulwa-541721168/">LinkedIn</a>
        </h2>
        <img src="../static/ndunge.png"height="300px" width="300px"/>
        <p>Ndunge is an incoming freshman at Brown University, where she plans to study computer science
          and linguistics. She is a Pittsburgh native, and graduated from Kiski Area High School.</p>
        <p> Fun Fact: Ndunge used to be a Starbucks barista!</p>
      </div>

      <div id="essence">
        <h2 id="essence style="border-right-width: 2px, border-left-width"">Essence Jordan <br>
        <a href="https://www.linkedin.com/in/essence-jordan-96914a149/">LinkedIn</a>
        </h2>
        <img src="../static/static/essence.png" height="300px" width="300px"/>
        <p>Essence is an incoming Computer Science student at Purdue University. Essence loves her robotics team more than life</p>
        <p> Fun Fact: Essence is probably emotionally unstable, but she loves cats</p>
      </div>
    </div>
</body>
</html>
