<!DOCTYPE html>
<html>

<head>
  <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="394728815913-nuh9usp5qa80v949p0j3jmq63ake8i72.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  <title>Genre Page</title>
  <link rel="stylesheet" type="text/css" href="static/buttonPage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Poppins|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Limelight|Leckerli+One|Poor+Story|Berkshire+Swash|Sigmar+One|Reenie+Beanie|Special+Elite" rel="stylesheet">
</head>
<body>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <button id="signout" type="button" name="button" href="#" onclick="signOut();" style="display: none">Sign Out</button>
  <div class="split left">
    <div class="centered">
      <h1 id="title">CEASAR SALAD:</h1>
      <h2 id="slogan">THE NEWEST MUSIC RECCOMENDATION APP</h2>
      <p id="explanation">The search for music has lost its ability to bring people together
         -- luckily, with CEASAR SALAD, personal reccomendations and the unity of music has become an easy feat.
        This forum allows users to share music with
      other fellow users across the globe, add music to Spotify playlists, and much more. Just pick a genre to begin sharing.
      </p>

    </div>
  </div>
  <div class="split right ">
  <div class="centeredright">
    <p>Some text.</p>
    {% for key, value in genres.iteritems() %}
    <button type="button" class="genres btn-2" id="{{key}}" onclick="handleGenreClick('{{key}}')">{{value}}</button>
    {% endfor %}
    <br>
  </div>
  </div>
</div>





  <script>

    var isSignedIn = true;

    function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);
      // sendRequest("/setUserData", function(result) {
      //   console.log("Got result", result);
      // }, {"id_token": id_token});
      isSignedIn = true;
      document.getElementById('signout').style.display="block";
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      })
      isSignedIn = false;
      document.getElementById('signout').style.display="none"
    }

    function handleGenreClick(genre) {
      if(isSignedIn) {
        location.assign("/genre?genre=" + genre)
      }
      else {
        alert("You need to sign in first.")
      }
    };
  </script>

</body>
</html>
