<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
  </head>
  <nav role="navigation">
  <div id="menuToggle">
  <!--
  A fake / hidden checkbox is used as click reciever,
  so you can use the :checked selector on it.
  -->
  <input type="checkbox" />

  <!--
  Some spans to act as a hamburger.

  They are acting like a real hamburger,
  not that McDonalds stuff.
  -->
  <span></span>
  <span></span>
  <span></span>

  <!--
  Too bad the menu has to be inside of the button
  but hey, it's pure CSS magic.
  -->
  <ul class="pages" id="menu">
    <li class="gospelbar"><a href="/">HOME</a></li>
    <li class="gospelbar"><a href="/aboutus">ABOUT</a></li>
    <li class="gospelbar"><a href="/genre?genre=jazz">JAZZ</a></li>
    <li class="gospelbar"><a href="/genre?genre=indie">INDIE</a></li>
    <li class="gospelbar"><a href="/genre?genre=rnb">R&B</a></li>
    <li class="gospelbar"><a href="/genre?genre=gospel">GOSPEL</a></li>
    <li class="gospelbar"><a href="/genre?genre=pop">POP</a></li>
    <li class="gospelbar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
  </ul>
  </div>
  </nav>
  <body class="gospel">
    <div>
    <div class="box" id ="gospelbox">
    <div class="title" id="gospeltitle">
     GOSPEL PAGE
    </div>
    <form action="/messages?genre=gospel" method="post">
      <input type="submit" class="right button gospelbutton"  value="Load Messages">
    </form>
    <br>
    <form class="messagearea" action="/add?genre=gospel" method="post">
            <input name="home" id="textfield">
            <input id="gospel" type="submit" class="button gospelbutton" value="send message">

    </form>
    </div>
    <div class="messagearea" id="gospelmessage">
      {% for text in messages %}
        <p>{{text}}</p>
      {% endfor %}
    <!-- <div class= "gospelbackground playlist" id="gospellist">
    SONG
    </div> -->
  </div>
      <div class= "playlist" id="gospellist">
      <iframe src="https://open.spotify.com/embed/user/mepostmanpat/playlist/4TgoHJz3rlfEIeT13zTihi" width="350" height="680" frameborder="35" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </body>
</html>
