
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400i,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail:" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
</head>
<body class="hiphop">
  <div>
    <ul class="hiphopbar">
      <li class="hiphopbar"><a href="/">HOME</a></li>
      <li class="hiphopbar"><a href="/genre?genre=jazz">JAZZ</a></li>
      <li class="hiphopbar"><a href="/genre?genre=indie">INDIE</a></li>
      <li class="hiphopbar"><a href="/genre?genre=rnb">R&B</a></li>
      <li class="hiphopbar"><a href="/genre?genre=gospel">GOSPEL</a></li>
      <li class="hiphopbar"><a href="/genre?genre=pop">POP</a></li>
      <li class="hiphopbar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
  </ul>
  <div class="box" id ="hiphopbox">
  <div class="title" id="hiphoptitle">
     HIP HOP PAGE
  </div>
  <form action="/messages?genre=hiphop" method="post">
    <input type="submit" class="right button hiphopbutton"  value="Load Messages">
  </form>
  <br>
  <form class="messagearea" action="/add?genre=hiphop" method="post">
          <input name="home" id="textfield">
          <input id="hiphop" type="submit" class="button hiphopbutton" value="send message">

  </form>
  </div>
  <div class="messagearea" id="hiphopmessage">
    {% for text in messages %}
      <p>{{text}}</p>
    {% endfor %}
  <!-- <div class= "gospelbackground playlist" id="rnblist">
  SONG
  </div> -->
</div>
  <div class= "playlist" id="gospellist">
<iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX7YCknf2jT6s" width="350" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</body>
</html>
