
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400i,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail:" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700i" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
</head>
<body class="indie">
  <div>
    <ul class="indiebar">
      <li class="indiebar"><a href="/">HOME</a></li>
      <li class="indiebar"><a href="/genre?genre=jazz">JAZZ</a></li>
      <li class="indiebar"><a href="/genre?genre=indie">INDIE</a></li>
      <li class="indiebar"><a href="/genre?genre=rnb">R&B</a></li>
      <li class="indiebar"><a href="/genre?genre=gospel">GOSPEL</a></li>
      <li class="indiebar"><a href="/genre?genre=pop">POP</a></li>
      <li class="indiebar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
  </ul>
  <div class="box" id ="indiebox">
  <div class="title" id="indietitle">
     R&B PAGE
  </div>
  <form action="/messages?genre=indie" method="post">
    <input type="submit" class="right button indiebutton"  value="Load Messages">
  </form>
  <br>
  <form class="messagearea" action="/add?genre=indie" method="post">
          <input name="home" id="textfield">
          <input id="indie" type="submit" class="button indiebutton" value="send message">

  </form>
  </div>
  <div class="messagearea" id="indiemessage">
    {% for text in messages %}
      <p>{{text}}</p>
    {% endfor %}
  <!-- <div class= "gospelbackground playlist" id="rnblist">
  SONG
  </div> -->
</div>
        <div id="indielist">
        <iframe src="https://open.spotify.com/embed/user/mepostmanpat/playlist/4TgoHJz3rlfEIeT13zTihi" width="350" height="680" frameborder="35" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
</body>
</html>
