
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400i,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail:" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
</head>
<body class="jazz">
  <div>
    <ul class="jazzbar">
      <li class="jazzbar"><a href="/">HOME</a></li>
      <li class="jazzbar"><a href="/genre?genre=jazz">JAZZ</a></li>
      <li class="jazzbar"><a href="/genre?genre=indie">INDIE</a></li>
      <li class="jazzbar"><a href="/genre?genre=rnb">R&B</a></li>
      <li class="jazzbar"><a href="/genre?genre=gospel">GOSPEL</a></li>
      <li class="jazzbar"><a href="/genre?genre=pop">POP</a></li>
      <li class="jazzbar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
  </ul>
    <div class="box" id ="jazzbox">
    <div class="title" id="jazztitle">
        JAZZ PAGE
    </div>
    <input type="button" class="right button jazzbutton" value="Load Messages">
    <br>
    <input id="textfield">
    <input type="button" class="button jazzbutton" value="send message" onclick="handleSend();">
  </div>
    <div class="messagearea" id="jazzmessage">
    Hey
    </div>
  </div>
  <div class= "playlist" id="jazzlist">
<iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX7YCknf2jT6s" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</body>
</html>
