
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Limelight|Leckerli+One|Poor+Story|Berkshire+Swash|Sigmar+One|Reenie+Beanie|Special+Elite" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
</head>
<body class="pop">
  <div>
    <ul class="popbar">
      <li class="popbar"><a href="/">HOME</a></li>
      <li class="popbar"><a href="/genre?genre=jazz">JAZZ</a></li>
      <li class="popbar"><a href="/genre?genre=indie">INDIE</a></li>
      <li class="popbar"><a href="/genre?genre=rnb">R&B</a></li>
      <li class="popbar"><a href="/genre?genre=gospel">GOSPEL</a></li>
      <li class="popbar"><a href="/genre?genre=pop">POP</a></li>
      <li class="popbar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
  </ul>
    <div class="box" id ="popbox">
    <div class="title" id="poptitle">
        POP PAGE
    </div>
    <input type="button" class="right button popbutton" value="Load Messages">
    <br>
    <input id="textfield">
    <input type="button" class="button popbutton" value="send message" onclick="handleSend();">
  </div>
    <div class="messagearea" id="popmessage">
    Hey
    </div>
  </div>
  <div class= "playlist" id="jazzlist">
<iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX7YCknf2jT6s" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</body>
</html>
