<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Limelight|Leckerli+One|Poor+Story|Berkshire+Swash|Sigmar+One|Reenie+Beanie|Special+Elite" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">

    <style>
    </style>
  </head>
  <body class="rnb">
    <div>
      <ul class="rnbbar">
        <li class="rnbbar"><a href="/">HOME</a></li>
        <li class="rnbbar"><a href="/genre?genre=jazz">JAZZ</a></li>
        <li class="rnbbar"><a href="/genre?genre=indie">INDIE</a></li>
        <li class="rnbbar"><a href="/genre?genre=rnb">R&B</a></li>
        <li class="rnbbar"><a href="/genre?genre=gospel">GOSPEL</a></li>
        <li class="rnbbar"><a href="/genre?genre=pop">POP</a></li>
        <li class="rnbbar"><a href="/genre?genre=hiphop">HIP HOP</a></li>
    </ul>
      <div class="box" id ="rnbbox">
      <div class="title" id="rnbtitle">
         R&B PAGE
      </div>
      <input type="button" class="right button rnbbutton"   value="Load Messages">
      <br>
      <form class="messagearea" action="/add" method="post">
              <input name="home" id="textfield">
              <input type="submit" class="button rnbbutton" value="send message">
      </form>
      </div>
      <div class="messagearea" id="rnbmessage">


      <!-- <div class= "gospelbackground playlist" id="rnblist">
      SONG
      </div> -->
    </div>
      <div class= "playlist" id="gospellist">
    <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX7YCknf2jT6s" width="350" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </body>
</html>
